<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="http://roiim.com/wp-content/uploads/2019/08/ROI-logo.png" alt="ROI Internet Marketing">
        <br>
        <p>Check Out Page</p>
        <form action="/enterCardDetails" method="POST">
            <div class="form-group">
              <label for="email"></label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
              />
            </div>
            <div class="form-group">
              <label for="name"></label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter Your Full Name"
              />
            </div>
            <div class="form-group">
                <label for="amount"></label>
                <input
                  type="number"
                  id="amount"
                  name="amount"
                  class="form-control"
                  placeholder="Enter Amount"
                />
              </div>
            <button type="submit" class="btn btn-primary btn-block">Check Out</button>
          </form>
      </div>
    </div>
  </div>